{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'create_blog/css/main.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="nav-left">
            <button id="homeBtn">Home</button>
            <button id="uploadBtn">Upload</button>
        </div>
        <div class="nav-right">
            <button id="logoutBtn">Logout</button>
        </div>
    </div>

    <div class="main-body">
        <div class="content-box">
            <h2>Create New Post</h2>
            {% csrf_token%}
            <input type="text" id="titleInput" placeholder="Enter Post Title" class="input-field">
            <textarea id="contentInput" placeholder="Enter Post Content" class="textarea-field"></textarea>
            <button id="submitPostBtn" class="submit-btn">Submit Post</button>
        </div>
    </div>

    <script src="{% static 'create_blog/js/main.js' %}"></script>
</body>
</html>
